.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lessons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: .5rem .5rem .5rem 0;
  position: relative;
  top: 10px;
}

.dates {
  padding: .5rem 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  user-select: none;
}

.selectedDate {
  background-color: #fff3bd;
}

.selectedLesson {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fff3bd;
}

button {
  display: block;
  margin: auto;
  margin-top: 1rem;
  border-radius: 12px;
  width: 8rem;
}

.student {
  display: flex;
  width: 200px;
  background-color: var(--warning-green);
  border: 1px solid var(--warning-green);
  border-radius: 10px;
  margin: .5rem .5rem .5rem 0;
}

.add {
  flex-direction: column;
  background-color: #fff3bd;
  border: 1px solid #fff3bd;
}

#add {
  position: relative;
  bottom: 1rem;
}

.addIcon {
  position: relative;
  top: 1.8rem;
  left: .3rem;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.add select {
  margin: 1rem .5rem 0 .5rem;
}

.student label {
  align-self: center;
  text-align: center;
  width: 100%;
  padding: 1rem 0;
  margin: 0;
  cursor: pointer;
}

.absent {
  border-color: var(--warning-red) !important;
  background-color: var(--warning-red) !important;
}

.type {
  display: flex;
  justify-content: space-evenly;
}

.type label {
  background-color: var(--warning-yellow);
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  padding: .75rem;
  width: 10rem;
  text-align: center;
}

.filteredStudents {
  width: 80%;
  text-align: center;
}

.filteredStudents thead {
  border-bottom: #000 1px solid;
}

.filteredStudents .name {
  border-right: #000 1px solid;
}

.filteredStudents button {
  margin-top: .25rem;
  border-radius: 1rem;
}

.filteredStudents .under75 {
  background-color: var(--warning-yellow);
}