<!--Sidebar movement inputs-->
<input type="checkbox" id="check">

<label for="check">
  <b id="btn"><span matPrefix class="material-icons">arrow_forward_ios</span></b>
  <b id="cancel"><span matPrefix class="material-icons">arrow_back_ios</span></b>
</label>

<!--Sidebar-->
<div class="sidebar">
  <ul>
    <li><a href="header/students">Participantes</a></li>
    <li><a href="header/frequency">Frequências</a></li>
    <li><a href="#">Antropometrias</a></li>
    <li><a href="#">Desempenho TT</a></li>
    <li><a href="#">Hab. Socioedu.</a></li>
  </ul>
</div>

<!--Main content-->
<section>
  <h2>Controle de Frequência</h2>

  <div class="type">
    <label for="tLessons" class="label-tLessons">Aulas</label>
    <input type="radio" name="type" id="tLessons" checked hidden (click)="changeType()">
    <label for="tStudents" class="label-tStudents">Participantes</label>
    <input type="radio" name="type" id="tStudents" hidden (click)="changeType()">
  </div>

  <div class="filters">
    <div>
      <p>Turma</p>
      <select name="class" id="class" (change)="changeClass()">
        <option value="Manhã">Manhã</option>
        <option value="Tarde">Tarde</option>
      </select>
    </div>

    <div>
      <p>Mês</p>
      <input type="month" name="month" id="month">
    </div>

    <div>
      <label for="add" class="addIcon"><span matPrefix class="material-icons">add</span></label>
      <button type="button" id="add" (click)="openDialogCreateLesson()">Add Aula</button>
    </div>
  </div>

  <!--Content group by lessons-->
  <div *ngIf="type=='lessons'" class="lessonsPage">
    <div class="lessons">
      <div *ngFor="let lesson of lessons; index as i">
        <input type="radio" name="lessonDate" id="{{lesson.id}}" value="{{lesson.date}}" (click)="changeDate(i)" hidden>
        <label for="{{lesson.id}}" class="dates" [class.selectedDate]="selectedLesson.date==lesson.date">
          <b>{{df.returnData(lesson.date.getDate())}}/{{df.returnData(lesson.date.getMonth()+1)}}</b>
        </label>
      </div>
    </div>
  
    <div class="selectedLesson">
      <div *ngFor="let frequency of frequencies; index as i" class="student" [class.absent]="!frequency.attendance">
        <input type="checkbox" name="{{frequency.name}}" id="{{frequency.freqId}}" checked="{{frequency.attendance}}" (change)="changeAttendance(i)" hidden>
        <label for="{{frequency.freqId}}">
          <b>{{frequency.name}}</b>
        </label>
      </div>
  
      <div *ngIf="nonLinkedStudents.length > 0" class="add student">
        <select name="addStudent" id="addStudent">
          <option *ngFor="let student of nonLinkedStudents; index as i" value="{{student.id}}">{{student.name}}</option>
        </select>
        <button type="button" (click)="linkStudent()">Add. Participante</button>
      </div>
  
    </div>
    <button type="button" (click)="saveFrequency()">Salvar Alterações</button>
  </div>

  <!--Content group by students-->
  <div *ngIf="type=='students'" class="studentsPage">
    <div class="geralReport">
      <h2>Dados Gerais</h2>

      <div class="data">
        <div class="col1">
          <div class="text">
            <p><b>Participantes Atendidos</b></p>
            <p>{{studentsNum}}</p>
          </div>
          <div class="text">
            <p><b>Total de Atendimentos</b></p>
            <p>{{totalAttendances}}</p>
          </div>
        </div>
        <div class="col2">
          <div class="text">
            <b>Aulas Turma da Manhã</b>
            <p>{{totalLessons.morning}}</p>
            <b>Aulas Turma da Tarde</b>
            <p>{{totalLessons.afternoon}}</p>
          </div>
        </div>
        <div class="col3">
          <div class="text">
            <b>Total de Aulas Ministradas</b>
            <p>{{totalLessons.morning+totalLessons.afternoon}}</p>
          </div>
        </div>
      </div>
    </div>

    <table class="filteredStudents">
      <thead>
        <tr>
          <th class="name">Nome</th>
          <th>Frequência</th>
          <th>Presenças/Aulas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of this.students; index as i" [class.under75]="student.attendance.percentage < 75">
          <td class="name">{{student.name}}</td>
          <td>{{student.attendance.attendances}}/{{student.attendance.lessons}}</td>
          <td>{{student.attendance.percentage}}%</td>
          <td>
            <button type="button" (click)="redirectToStudentData(student)"><span matPrefix class="material-icons">description</span></button>
          </td>
        </tr>
        
        <!--Class Report-->
        <tr>
          <th>Total de Participantes</th>
          <th colspan="2">Méd. Frequências</th>
        </tr>
        <tr>
          <td>{{this.students.length}}</td>
          <td colspan="2">{{avgFrequency.toFixed(2)}}%</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>