.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lessons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: .5rem .5rem .5rem 0;
  position: relative;
  top: 1rem
}

.dates {
  padding: .5rem 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  user-select: none;
}

.selectedDate {
  background-color: #fff3bd;
}

.selectedLesson {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fff3bd;
}

button {
  display: block;
  margin: auto;
  margin-top: 1rem;
  border-radius: 12px;
  width: 8rem;
}

.student {
  display: flex;
  width: 200px;
  background-color: var(--warning-green);
  border: 1px solid var(--warning-green);
  border-radius: 10px;
  margin: .5rem .5rem .5rem 0;
}

.student label {
  align-self: center;
  text-align: center;
  width: 100%;
  padding: 1rem 0;
  margin: 0;
  cursor: pointer;
}

.absent {
  border-color: var(--warning-red) !important;
  background-color: var(--warning-red) !important;
}