<!--Sidebar movement inputs-->
<input type="checkbox" id="check">

<label for="check">
  <b id="btn"><span matPrefix class="material-icons">arrow_forward_ios</span></b>
  <b id="cancel"><span matPrefix class="material-icons">arrow_back_ios</span></b>
</label>

<!--Sidebar-->
<div class="sidebar">
  <ul>
    <li><a href="header/students">Participantes</a></li>
    <li><a href="header/frequency">Frequências</a></li>
    <li><a href="#">Antropometrias</a></li>
    <li><a href="#">Desempenho TT</a></li>
    <li><a href="#">Hab. Socioedu.</a></li>
  </ul>
</div>

<!--Main content-->
<section>
  <h2>Controle de Frequência</h2>

  <div class="filters">
    <div>
      <p>Turma</p>
      <select name="class" id="class" (change)="changeClass()">
        <option value="Manhã">Manhã</option>
        <option value="Tarde">Tarde</option>
      </select>
    </div>

    <div>
      <p>Mês</p>
      <input type="month" name="month" id="month">
    </div>

    <div>
      <label for="add"><span matPrefix class="material-icons">add</span></label>
      <button type="button" id="add" (click)="openDialogCreateLesson()">Add Aula</button>
    </div>
  </div>

  <div class="lessons">
    <div *ngFor="let lesson of lessons; index as i">
      <input type="radio" name="lessonDate" id="{{lesson.id}}" value="{{lesson.date}}" (click)="changeDate(i)" hidden>
      <label for="{{lesson.id}}" class="dates" [class.selectedDate]="selectedLesson.date==lesson.date">
        <b>{{df.returnData(lesson.date.getDate())}}/{{df.returnData(lesson.date.getMonth()+1)}}</b>
      </label>
    </div>
  </div>

  <div class="selectedLesson">
    <div *ngFor="let student of students; index as i" class="student" [class.absent]="!student.attendance">
      <input type="checkbox" name="{{student.name}}" id="{{student.freqId}}" checked="{{student.attendance}}" (change)="changeAttendance(i)" hidden>
      <label for="{{student.freqId}}">
        <b>{{student.name}}</b>
      </label>
    </div>

    <div *ngIf="nonLinkedStudents.length > 0" class="add student">
      <select name="addStudent" id="addStudent">
        <option *ngFor="let student of nonLinkedStudents; index as i" value="{{student.id}}">{{student.name}}</option>
      </select>
      <button type="button" (click)="linkStudent()">Add. Participante</button>
    </div>

  </div>
  <button type="button" (click)="saveFrequency()">Salvar Alterações</button>
</section>