<!--Sidebar movement inputs-->
<input type="checkbox" id="check">

<label for="check">
  <b id="btn"><span matPrefix class="material-icons">arrow_forward_ios</span></b>
  <b id="cancel"><span matPrefix class="material-icons">arrow_back_ios</span></b>
</label>

<!--Sidebar-->
<div class="sidebar">
  <ul>
    <li><a href="header/students">Participantes</a></li>
    <li><a href="header/frequency">Frequências</a></li>
    <li><a href="#">Antropometrias</a></li>
    <li><a href="#">Desempenho TT</a></li>
    <li><a href="#">Hab. Socioedu.</a></li>
  </ul>
</div>

<!--Main content-->
<section>
  <div class="notifications">
    <div class="notification initial-data">
      <h2>Dados cadastrais</h2>
      <p>Há x participantes com cadastros incompletos</p>
    </div>
    
    <div class="notification frequency">
      <h2>Aviso de frequência</h2>
      <p>Há x participantes com questões de frequência</p>
    </div>

    <div class="notification anthropometry-tt-data">
      <h2>Antropometrias e Dados TT</h2>
      <p>Há x participantes para realizar coleta de dados</p>
    </div>
  </div>

  <div class="students">
    <form class="filters">
      <div class="search">
        <input type="text" name="studentName" id="studentName">
        <label for="studentName"><span matPrefix class="material-icons">search</span></label>
      </div>
      
      <button>
        <span matPrefix class="material-icons">menu</span>
        Filtros
      </button>
    </form>
    
    <table class="filteredStudents">
      <thead>
        <tr>
          <th colspan="1" class="name">Nome</th>
          <th colspan="5">Dados</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="name">Aluno A</td>
          <td>
            <button><span matPrefix class="material-icons">description</span></button>
          </td>
          <td>
            <button><span matPrefix class="material-icons">date_range</span></button>
          </td>
          <td>
            <button><span matPrefix class="material-icons">straighten</span></button>
          </td>
          <td>
            <button><span matPrefix class="material-icons">trending_up</span></button>
          </td>
          <td>
            <button><span matPrefix class="material-icons">diversity_3</span></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div> 
</section>