<!--Sidebar movement inputs-->
<input type="checkbox" id="check">

<label for="check">
  <b id="btn"><span matPrefix class="material-icons">arrow_forward_ios</span></b>
  <b id="cancel"><span matPrefix class="material-icons">arrow_back_ios</span></b>
</label>

<!--Sidebar-->
<div class="sidebar">
  <ul>
    <li><a href="header/students">Participantes</a></li>
    <li><a href="header/frequency">Frequências</a></li>
    <li><a href="#">Antropometrias</a></li>
    <li><a href="#">Desempenho TT</a></li>
    <li><a href="#">Hab. Socioedu.</a></li>
  </ul>
</div>

<!--Main content-->
<section>
  <div class="details">
    <div>
      <input type="radio" name="details" id="initialData" (change)="changeDetails()" hidden>
      <label for="initialData" class="selector" [class.selectedData]="selectedData=='initialData'">
        <b>Dados Iniciais</b>
      </label>
    </div>
    <div>
      <input type="radio" name="details" id="frequency" (change)="changeDetails()" hidden>
      <label for="frequency" class="selector" [class.selectedData]="selectedData=='frequency'">
        <b>Frequência</b>
      </label>
    </div>
    <div>
      <input type="radio" name="details" id="anthropometries" (change)="changeDetails()" hidden>
      <label for="anthropometries" class="selector" [class.selectedData]="selectedData=='anthropometries'">
        <b>Antropometrias</b>
      </label>
    </div>
    <div>
      <input type="radio" name="details" id="ttPerformance" (change)="changeDetails()" hidden>
      <label for="ttPerformance" class="selector" [class.selectedData]="selectedData=='ttPerformance'">
        <b>Desempenho TT</b>
      </label>
    </div>
    <div>
      <input type="radio" name="details" id="lifeSkills" (change)="changeDetails()" hidden>
      <label for="lifeSkills" class="selector" [class.selectedData]="selectedData=='lifeSkills'">
        <b>Hab. Sociais</b>
      </label>
    </div>
  </div>

  <div class="selectedDetails">
    <div class="line">
      <div>
        <p>Nome</p>
        <input type="text" name="name" id="name" value="{{student.name}}">
      </div>

      <div>
        <p>Sexo</p>
        <select name="gender" id="gender">
          <option value="Feminino">Feminino</option>
          <option value="Masculino" [selected]="student.gender=='Masculino'">Masculino</option>
        </select>
      </div>

      <div>
        <p>Data de Nascimento</p>
        <input type="date" name="birthdate" id="birthdate"
          value="{{student.birthdate.getFullYear()}}-{{df.returnData(student.birthdate.getMonth()+1)}}-{{df.returnData(student.birthdate.getDate())}}">
      </div>
    </div>

    <div class="line">
      <div>
        <p>Turma</p>
        <select name="class" id="class">
          <option value="Manhã">Manhã</option>
          <option value="Tarde" [selected]="student.class=='Tarde'">Tarde</option>
        </select>
      </div>

      <div>
        <p>Idade</p>
        <input type="number" name="age" id="age" value="0" readonly>
      </div>

      <div>
        <p>Módulo JEMG (2023)</p>
        <input type="number" name="module" id="module" value="0" readonly>
      </div>
    </div>

    <div class="line">
      <div>
        <p>Nome do Parente</p>
        <input type="text" name="parentName" id="parentName" value="{{student.parentName}}">
      </div>

      <div>
        <p>Parente</p>
        <input type="text" name="parent" id="parent" value="{{student.parent}}">
      </div>

      <div>
        <p>Contato do Parente</p>
        <input type="text" name="parentContact" id="parentContact" value="{{student.parentContact}}">
      </div>
    </div>

    <div class="line">
      <div>
        <p>Escola</p>
        <select name="schoolId" id="schoolId">
          <option *ngFor="let school of schools" value="{{school.id}}" [selected]="school.id == student.schoolId">
            {{school.name}}</option>
        </select>
      </div>

      <div>
        <p>Contato</p>
        <input type="text" name="contact" id="contact" value="{{student.contact}}">
      </div>

      <div>
        <p>Entregou Autorização</p>
        <select name="authorization" id="authorization">
          <option value="Sim">Sim</option>
          <option value="Não" [selected]="!student.authorization">Não</option>
        </select>
      </div>
    </div>


    <button type="button" (click)="saveData()">Salvar Alterações</button>

    <button *ngIf="student.activated" type="button" (click)="deactivateStudent()" class="delete"><b>Arquivar Participante</b></button>
    <button *ngIf="!student.activated" type="button" (click)="activateStudent()" class="activate"><b>Desarquivar Participante</b></button>
  </div>
</section>