<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Cadastro realizado!</h3>
      <div class="formGroup" *ngIf="authService.userData as user">
        <p class="text-center">Nós enviamos um e-mail de confirmação para <strong>{{user.email}}</strong>.</p>
        <p class="text-center">Por favor, verifique seu e-mail e clique no link enviado para confirmar seu endereço de e-mail</p>
      </div>
      
      <!-- Calling SendVerificationMail() method using authService Api -->
      <div class="formGroup">
        <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
          <span matPrefix class="material-icons">outgoing_mail</span>
          Reenviar email de verificação
        </button>
      </div>
      <div class="redirectToLogin">
        <span>Retornar para o <span class="redirect" routerLink="/sign-in"> Login</span></span>
      </div>
    </div>
  </div>
</div>
