<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Sign In</h3>

      <div class="formGroup">
        <span matPrefix class="material-icons">mail</span>
        <input type="text" placeholder="E-mail" #userName required>
      </div>

      <div class="formGroup">
        <span matPrefix class="material-icons">password</span>
        <input type="password" placeholder="Senha" #userPassword required>
      </div>

      <div class="formGroup">
        <!-- Calling SignIn Api from AuthService -->
        <button type="button" class="btn" (click)="authService.SignIn(userName.value, userPassword.value)">
          <span matPrefix class="material-icons">login</span>
          Entrar
        </button>

        <span class="or"> Ou </span>
        
        <!-- Calling GoogleAuth Api from AuthService -->
        <button type="button" class="btn btnGoogle" (click)="authService.GoogleAuth()">
          <img src="https://img.icons8.com/color/16/000000/google-logo.png">
          Entrar com Google
        </button>
      </div>

      <div class="forgotPassword">
        <span routerLink="/forgot-password">Esqueceu a senha?</span>
      </div>

      <div class="redirectToLogin">
        <span>Não possui uma conta? <span class="redirect" routerLink="/register-user">Cadastre-se</span></span>
      </div>
    </div>
  </div>
</div>