<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Sign Up</h3>

      <div class="formGroup">
        <input type="email" class="formControl" placeholder="E-mail" #userEmail required />
      </div>

      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Senha" #userPwd required />
      </div>

      <div class="formGroup">
        <input type="button" class="btn btnPrimary" value="Cadastrar-se"
          (click)="authService.SignUp(userEmail.value, userPwd.value)" />
          
          <span class="or"><span class="orInner"> Ou </span></span>

          <!-- Continue with Google -->
          <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
            <img src="https://img.icons8.com/color/16/000000/google-logo.png">
            Continue with Google
          </button>
      </div>
      
      <div class="redirectToLogin">
        <span>Já possui uma conta? <span class="redirect" routerLink="/sign-in">Login</span></span>
      </div>
    </div>
  </div>
</div>