<!--Sidebar movement inputs-->
<input type="checkbox" id="check">

<label for="check">
  <b id="btn"><span matPrefix class="material-icons">arrow_forward_ios</span></b>
  <b id="cancel"><span matPrefix class="material-icons">arrow_back_ios</span></b>
</label>

<!--Sidebar-->
<div class="sidebar">
  <ul>
    <li><a href="header/students">Participantes</a></li>
    <li><a href="header/frequency">Frequências</a></li>
    <li><a href="#">Antropometrias</a></li>
    <li><a href="#">Desempenho TT</a></li>
    <li><a href="#">Hab. Socioedu.</a></li>
  </ul>
</div>

<!--Main content-->
<section>
  <div class="details">
    <div>
      <input type="radio" name="details" id="initialData" (change)="changeDetails()" hidden>
      <label for="initialData" class="selector" [class.selectedData]="selectedData=='initialData'">
        <b>Dados Iniciais</b>
      </label>
    </div>
    <div>
      <input type="radio" name="details" id="frequency" (change)="changeDetails()" hidden>
      <label for="frequency" class="selector" [class.selectedData]="selectedData=='frequency'">
        <b>Frequência</b>
      </label>
    </div>
    <div>
      <input type="radio" name="details" id="anthropometries" (change)="changeDetails()" hidden>
      <label for="anthropometries" class="selector" [class.selectedData]="selectedData=='anthropometries'">
        <b>Antropometrias</b>
      </label>
    </div>
    <div>
      <input type="radio" name="details" id="ttPerformance" (change)="changeDetails()" hidden>
      <label for="ttPerformance" class="selector" [class.selectedData]="selectedData=='ttPerformance'">
        <b>Desempenho TT</b>
      </label>
    </div>
    <div>
      <input type="radio" name="details" id="lifeSkills" (change)="changeDetails()" hidden>
      <label for="lifeSkills" class="selector" [class.selectedData]="selectedData=='lifeSkills'">
        <b>Hab. Sociais</b>
      </label>
    </div>
  </div>

  <div class="selectedDetails">
    <div class="line">
      <div>
        <p>Nome</p>
        <input type="text" name="name" id="name" value="{{student.name}}">
      </div>

      <div>
        <p>Sexo</p>
        <select name="gender" id="gender">
          <option value="Feminino">Feminino</option>
          <option value="Masculino" [selected]="student.gender=='Masculino'">Masculino</option>
        </select>
      </div>

      <div>
        <p>Data da 1ª avaliação</p>
        <input type="date" name="birthdate" id="birthdate"
          value="{{student.birthdate.getFullYear()}}-{{df.returnData(student.birthdate.getMonth()+1)}}-{{df.returnData(student.birthdate.getDate())}}">
      </div>
    </div>

    <div class="line">
      <div>
        <p>Turma</p>
        <select name="class" id="class">
          <option value="Manhã">Manhã</option>
          <option value="Tarde" [selected]="student.class=='Tarde'">Tarde</option>
        </select>
      </div>

      <div>
        <p>Idade</p>
        <input type="number" name="age" id="age" value="{{student.age}}" readonly>
      </div>

      <div>
        <p>Peso</p>
        <input type="weight" name="weight" id="weight" value="{{student.weight}}" (input)="updateIMC()">
      </div>
    </div>

    <div class="line">
      <div>
        <p>Estatura</p>
        <input type="text" name="estatura" id="estatura" value="{{student.estatura}}" (input)="updateIMC()">
      </div>

      <div>
        <p>Envergadura</p>
        <input type="text" name="parent" id="parent" value="{{student.parent}}">
      </div>

      <div>
        <p>IMC</p>
        <input type="text" name="IMC" id="IMC" value="{{calcIMC(student.weight, student.estatura)}}" readonly>
      </div>
    </div>

    <div class="line">
      <div>
        <p>Salto horizontal</p>
        <select name="schoolId" id="schoolId">
          <option *ngFor="let school of schools" value="{{school.id}}" [selected]="school.id == student.schoolId">
            {{school.name}}</option>
        </select>
      </div>

      <div>
        <p>Salto vertical</p>
        <input type="text" name="contact" id="contact" value="{{student.contact}}">
      </div>

      <div>
        <p>Corrida de 20m (s)</p>
        <input type="text" name="contact" id="contact" value="{{student.contact}}">
      </div>
    </div>  
      
    <div class="line">
      <div>
        <p>Quadrado de 4x4 metros (s)</p>
        <input type="text" name="contact" id="contact" value="{{student.contact}}">
      </div>

      <div>
        <p>Arremesso de medicine ball de 2kg (cm)</p>
        <input type="text" name="contact" id="contact" value="{{student.contact}}">
      </div>

      <div>
        <p>Corrida/caminhada de 6 minutos (m)</p>
        <input type="text" name="contact" id="contact" value="{{student.contact}}">
      </div>
    </div>  


    <button type="button" (click)="saveData()">Salvar Alterações</button>

  </div>
</section>