<h2>Dados Iniciais</h2>

<div class="form">
  <div class="line">
    <div>
      <p>Nome</p>
      <input type="text" name="name" id="name">
    </div>

    <div>
      <p>Turma</p>
      <select name="class" id="class">
        <option value="Manhã">Manhã</option>
        <option value="Tarde">Tarde</option>
      </select>
    </div>

    <div>
      <p>Data de Nascimento</p>
      <input type="date" name="birthdate" id="birthdate">
    </div>
  </div>

  <div class="line">
    <div>
      <p>Sexo</p>
      <select name="gender" id="gender">
        <option value="Feminino">Feminino</option>
        <option value="Masculino">Masculino</option>
      </select>
    </div>

    <div>
      <p>Contato</p>
      <input type="text" name="contact" id="contact">
    </div>

    <div>
      <p>Escola</p>
      <select name="schoolId" id="schoolId">
        <option *ngFor="let school of schools; let i = index" value="{{school.id}}">{{school.name}}</option>
      </select>
    </div>
  </div>

  <div class="line">
    <div>
      <p>Parente</p>
      <input type="text" name="parent" id="parent">
    </div>

    <div>
      <p>Nome do Parente</p>
      <input type="text" name="parentName" id="parentName">
    </div>

    <div>
      <p>Contato do Parente</p>
      <input type="text" name="parentContact" id="parentContact">
    </div>
  </div>

  <div class="line">
    <div>  
      <p>Autorização de Participação <span *ngIf="authorization" matPrefix class="material-icons">done_outline</span></p>
      <input type="file" name="authorizationFile" id="authorizationFile" accept="image/*,.pdf" (change)="onAuthorizationFileChanged($event)">
    </div>

    <div>  
      <p>TCLE do Responsável <span *ngIf="responsibleTCLE" matPrefix class="material-icons">done_outline</span></p>
      <input type="file" name="responsibleTCLEFile" id="responsibleTCLEFile" accept="image/*,.pdf" (change)="onResponsibleTCLEFileChanged($event)">
    </div>

    <div>  
      <p>TCLE do Participante <span *ngIf="studentTCLE" matPrefix class="material-icons">done_outline</span></p>
      <input type="file" name="studentTCLEFile" id="studentTCLEFile" accept="image/*,.pdf" (change)="onStudentTCLEFileChanged($event)">
    </div>
  </div>

  <div class="line">
    <div>  
      <p>TALE <span *ngIf="TALE" matPrefix class="material-icons">done_outline</span></p>
      <input type="file" name="TALEFile" id="TALEFile" accept="image/*,.pdf" (change)="onTALEFileChanged($event)">
    </div>
  </div>

  <button type="submit" (click)="createStudent()">Salvar</button>
</div>